h1{
    text-align: center;
}
table{
    margin-bottom: 30px;
    margin: 10px 10px 30px 10px;
    background-color: azure;
    border-radius: 3px;
    border: 1px solid black;
}
th{
    background-color: darkcyan;
    padding: 5px;
    border-radius: 3px;
    width: fit-content;
}
td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    white-space: nowrap;
}
form{
    margin: 10px;
    background-color: rgb(115, 157, 212);
    height: fit-content;
    padding: 30px;
    border-radius: 10%;
    border: 3px solid black;
    width: 250px;
}
form > button{
    margin: 10px;
}
input{
    margin: 10px;
    border: none;
    background-color: rgb(230, 229, 238);
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
}
input:hover{
    opacity: 0.5;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.historicoContainer{
    display: flex;
    flex-direction: column;


}
.nome{
    text-align: left;
}
.email{
    text-align: left;
    padding: 5px 20px;
}

.delete{
    border: none;
    background: none;
    cursor: pointer;
}
.delete:hover{
    opacity: 0.6;
    padding: 0;
}

.enviar{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
}