h1{
    text-align: center;
}
table{
    margin-bottom: 30px;
    margin: 10px 10px 30px 10px;
    background-color: azure;
    border-radius: 3px;
}
button {
    padding: 3px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(133, 204, 216);
}
th{
    background-color: darkcyan;
    padding: 5px;
    border-radius: 3px;
}
td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
form{
    margin: 10px;
    background-color: rgb(115, 157, 212);
    height: fit-content;
    padding: 30px;
    border-radius: 10%;
    border: 3px solid black;
}
form > button{
    margin: 10px;
}
input{
    margin: 10px;
    border: none;
    background-color: rgb(230, 229, 238);
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
}
input:hover{
    opacity: 0.5;
}
.alunoContainer{
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.message{
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: rgb(150, 245, 150);
    border-radius: 16px;
}
.errorMessage {
    background-color: rgb(238, 128, 128);
}
.container{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;

}
.error{
    margin-right: 10px;
}
.nome{
    text-align: left;
}
.email{
    text-align: left;
    padding: 5px 20px;
}

.delete{
    border: none;
    background: none;
    cursor: pointer;
}
.delete:hover{
    opacity: 0.6;
    padding: 0;
}

.enviar{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
}
.enviar:hover{
    background-color: rgba(117, 250, 255, 0.26);

}